@page "/editablelistdemo"

<div style="padding: 5px; width: 300px;">
    <div class="Spinner"></div>
    <br>
    <div class="CheckMark"></div>
    <br>
    <div class="XMark"></div>
    <br>
    <div class="Exclamation"></div>
</div>

<div style="padding: 5px; width: 300px;">
    @_hostnameList.Render()
</div>