@inject IJSRuntime JSRuntime

@page "/stats"

<div class="Stats_StatsContainer">
    <h2>Server statistics</h2>

    <h3>Query action counts by hour</h3>
    <div class="DividerLine"></div>

    <div id="Stats_LogActionsPerHour"></div>
</div>