.EditableListContainer {
    background-color: var(--ColorSet_ThemeColor_Background_40);
    border:           1px solid var(--ColorSet_ThemeColor_Border_40);
    border-radius:    3px;
    padding:          2px;

    &--Disabled {
        background-color: var(--ColorSet_ThemeColor_Background_20);
        border:           1px solid var(--ColorSet_ThemeColor_Border_20);
        
        .EditableList--New {
            .EditableList--Input {
                &::placeholder {
                    color: var(--ColorSet_ThemeColor_Text_20);
                }
            }
        }
    }

    &--Monospace {
        .EditableList--Selected .EditableList--Value {
            font-family: var(--FontSet-MonospaceFont);
        }
    }

    .EditableList--Selected {
        background-color: var(--ColorSet_ThemeColor_Background_30);
        border:           1px solid var(--ColorSet_ThemeColor_Border_30);
        border-radius:    2px;
        box-sizing:       border-box;
        display:          flex;
        flex-wrap:        wrap;
        min-height:       31.2px;
        padding:          1px;

        .EditableList--Selection {
            align-items:      center;
            background-color: var(--ColorSet_ThemeColor_Background_40);
            border:           1px solid var(--ColorSet_ThemeColor_Border_40);
            border-radius:    2px;
            color:            var(--ColorSet_ThemeColor_Text_60);
            display:          inline-flex;
            margin:           2px;
            padding:          2px;

            .EditableList--Value {
                height:     16px;
                margin:     1px;
                word-break: break-word;
            }

            .EditableList--RemoveButton {
                background:  none;
                border:      none;
                color:       var(--ColorSet_ThemeColor_Background_200);
                cursor:      pointer;
                flex-shrink: 0;
                font-family: 'Arial', sans-serif;
                height:      15px;
                line-height: 0;
                margin-left: 1px;
                outline:     none;
                padding:     0;
                width:       15px;

                &:not(:disabled):hover {
                    color: var(--ColorSet_ThemeColor_SolidRed_0);
                }

                &:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }

    .EditableList--New {
        align-items:     center;
        display:         flex;
        justify-content: space-between;
        padding-top:     3px;
        width:           100%;

        .EditableList--Input {
            margin: 0;
            width:  calc(100% - 25px - 2px);
        }

        .EditableList--AddButton {
            height: 25px;
            width:  25px;
        }
    }

    .EditableList--Validation {
        align-items:     center;
        display:         flex;
        justify-content: space-between;
        margin-top:      2px;

        .EditableList--ValidationMark {
            border-right: 1px solid var(--ColorSet_ThemeColor_Border_0);
            height:       23px;

            padding:      0 3px;
            width:        23px;
        }

        .EditableList--ValidationText {
            font-family: var(--FontSet-MonospaceFont);
            width:       calc(100% - 23px - 6px - 1px - 3px);
        }
    }
}
