// From: https://mdjunaidalam5.github.io/SpinBolt/

@mixin _SpinnerBase {
    &:after {
        animation:          rotate 1s linear infinite;
        border-radius:      50%;
        color:              var(--ColorSet_ThemeColor_Accent_50);
        content:            '';
        display:            inline-block;

        border-style:       solid;
        border-right-color: var(--ColorSet_ThemeColor_Border_50);
    }
}

.Spinner {
    @include _SpinnerBase;

    height: 21px;
    width:  21px;

    &:after {
        border-width: 3px;
        height:       15px;
        width:        15px;
    }
}

.Spinner--125 {
    @include _SpinnerBase;

    height: 125px;
    width:  125px;

    &:after {
        border-width: 3px;
        height:       125px;
        width:        125px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
