.EditableListContainer {
  background-color: var(--ColorSet_ThemeColor_Background_40);
  border: 1px solid var(--ColorSet_ThemeColor_Border_40);
  border-radius: 3px;
  padding: 2px; }
  .EditableListContainer--Disabled {
    background-color: var(--ColorSet_ThemeColor_Background_20);
    border: 1px solid var(--ColorSet_ThemeColor_Border_20); }
    .EditableListContainer--Disabled .EditableList--New .EditableList--Input::placeholder {
      color: var(--ColorSet_ThemeColor_Text_20); }
  .EditableListContainer--Monospace .EditableList--Selected .EditableList--Value {
    font-family: var(--FontSet-MonospaceFont); }
  .EditableListContainer .EditableList--Selected {
    background-color: var(--ColorSet_ThemeColor_Background_30);
    border: 1px solid var(--ColorSet_ThemeColor_Border_30);
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    min-height: 32px;
    padding: 1px; }
    .EditableListContainer .EditableList--Selected .EditableList--Selection {
      align-items: center;
      background-color: var(--ColorSet_ThemeColor_Background_40);
      border: 1px solid var(--ColorSet_ThemeColor_Border_40);
      border-radius: 2px;
      color: var(--ColorSet_ThemeColor_Text_60);
      display: inline-flex;
      margin: 2px;
      padding: 2px; }
      .EditableListContainer .EditableList--Selected .EditableList--Selection .EditableList--Value {
        height: 16px;
        margin: 1px;
        word-break: break-word; }
      .EditableListContainer .EditableList--Selected .EditableList--Selection .EditableList--RemoveButton {
        background: none;
        border: none;
        color: var(--ColorSet_ThemeColor_Background_200);
        cursor: pointer;
        flex-shrink: 0;
        font-family: 'Arial', sans-serif;
        height: 15px;
        line-height: 0;
        margin-left: 1px;
        outline: none;
        padding: 0;
        width: 15px; }
        .EditableListContainer .EditableList--Selected .EditableList--Selection .EditableList--RemoveButton:not(:disabled):hover {
          color: var(--ColorSet_ThemeColor_SolidRed_0); }
        .EditableListContainer .EditableList--Selected .EditableList--Selection .EditableList--RemoveButton:disabled {
          cursor: not-allowed; }
  .EditableListContainer .EditableList--New {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    width: 100%; }
    .EditableListContainer .EditableList--New .EditableList--Input {
      margin: 0;
      width: calc(100% - 25px - 2px); }
    .EditableListContainer .EditableList--New .EditableList--AddButton {
      height: 25px;
      width: 25px; }
  .EditableListContainer .EditableList--Validation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2px; }
    .EditableListContainer .EditableList--Validation .EditableList--ValidationMark {
      border-right: 1px solid var(--ColorSet_ThemeColor_Border_0);
      height: 23px;
      padding: 0 3px;
      width: 23px; }
    .EditableListContainer .EditableList--Validation .EditableList--ValidationText {
      font-family: var(--FontSet-MonospaceFont);
      width: calc(100% - 23px - 6px - 1px - 3px); }

.Spinner {
  height: 21px;
  width: 21px; }
  .Spinner:after {
    animation: rotate 1s linear infinite;
    border-radius: 50%;
    color: var(--ColorSet_ThemeColor_Accent_50);
    content: '';
    display: inline-block;
    border-style: solid;
    border-right-color: var(--ColorSet_ThemeColor_Border_50); }
  .Spinner:after {
    border-width: 3px;
    height: 15px;
    width: 15px; }

.Spinner--125 {
  height: 125px;
  width: 125px; }
  .Spinner--125:after {
    animation: rotate 1s linear infinite;
    border-radius: 50%;
    color: var(--ColorSet_ThemeColor_Accent_50);
    content: '';
    display: inline-block;
    border-style: solid;
    border-right-color: var(--ColorSet_ThemeColor_Border_50); }
  .Spinner--125:after {
    border-width: 3px;
    height: 125px;
    width: 125px; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.Stats_StatsContainer {
  padding: 9px; }
  .Stats_StatsContainer .Row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .Stats_StatsContainer .Row .FullWidth {
      width: 100%; }
    .Stats_StatsContainer .Row .Stats_Graphic {
      align-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%; }
      .Stats_StatsContainer .Row .Stats_Graphic .LoadingText {
        font-weight: bold;
        margin-top: 30px;
        text-align: center;
        width: 100%; }
      .Stats_StatsContainer .Row .Stats_Graphic *:not(.LoadingText) {
        font-family: var(--FontSet-MonospaceFont), monospace; }
    .Stats_StatsContainer .Row .Stats_Table {
      margin: 10px 0;
      max-width: 800px;
      width: 100%; }
      .Stats_StatsContainer .Row .Stats_Table .HeadingWrapper {
        margin-bottom: 2.5px; }
      .Stats_StatsContainer .Row .Stats_Table .FlareTableContainer {
        border-bottom: 1px solid var(--ColorSet_ThemeColor_Border_40); }
        .Stats_StatsContainer .Row .Stats_Table .FlareTableContainer .FlareTableHeading_Cell {
          border-bottom: 1px solid var(--ColorSet_ThemeColor_Border_40); }
        .Stats_StatsContainer .Row .Stats_Table .FlareTableContainer .FlareTableCell {
          padding: 5px 7px !important; }
    .Stats_StatsContainer .Row #Stats_LogActionsPerHour {
      height: 500px; }
    .Stats_StatsContainer .Row #Stats_LogActionCounts {
      height: 325px;
      width: 800px; }
    .Stats_StatsContainer .Row #Stats_LeaseVendorCounts {
      height: 325px;
      width: 900px; }

#blazor-error-ui {
  display: none; }

body {
  background-color: var(--ColorSet_Color_PageBG);
  color: var(--ColorSet_ThemeColor_Text_80);
  font-size: 15px;
  margin: 0; }
  body * {
    font-family: var(--FontSet-SansSerifFont); }
  body h3 {
    margin: 4px 0; }
  body .SUBSEG_Header .SUBSEG_LinearLayout .SS_Button, body .SUBSEG_Header .SUBSEG_LinearLayout .SS_Button--Red, body .SUBSEG_Header .SUBSEG_LinearLayout .SS_Button--Green, body .SUBSEG_Header .SUBSEG_LinearLayout .SS_Button--Blue, body .SUBSEG_Header .SUBSEG_LinearLayout .SS_Button--Inverted, body .SUBSEG_Subheader .SUBSEG_LinearLayout .SS_Button, body .SUBSEG_Subheader .SUBSEG_LinearLayout .SS_Button--Red, body .SUBSEG_Subheader .SUBSEG_LinearLayout .SS_Button--Green, body .SUBSEG_Subheader .SUBSEG_LinearLayout .SS_Button--Blue, body .SUBSEG_Subheader .SUBSEG_LinearLayout .SS_Button--Inverted {
    line-height: unset !important; }
  body .Spacer {
    height: 20px; }
  body .FlareTableCell {
    overflow: hidden;
    padding: 1px 5px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 350px; }
  body .VerticallyCenteredContainer, body .Rules_WhitelistTableContainer .HeaderContainer {
    align-items: center;
    display: flex; }
  body .DividerLine {
    border-bottom: 1px solid var(--ColorSet_ThemeColor_Border_50);
    height: 0;
    width: 100%; }
  body .ValidationResultContainer {
    align-items: center;
    display: inline-flex;
    margin-left: 15px;
    min-height: 21px; }
    body .ValidationResultContainer .ValidationText {
      margin-left: 5px; }
  body .CheckMark {
    height: 21px;
    position: relative;
    width: 21px; }
    body .CheckMark:after {
      border-bottom: 3px solid #78b13f;
      border-right: 3px solid #78b13f;
      content: '';
      display: inline-block;
      height: 15px;
      left: 27%;
      position: absolute;
      transform: rotate(45deg);
      width: 7px; }
  body .XMark {
    height: 21px;
    position: relative;
    width: 21px; }
    body .XMark:before, body .XMark:after {
      background-color: #ff0000;
      content: '';
      height: 21px;
      left: 43%;
      position: absolute;
      top: 1%;
      width: 2.8px; }
    body .XMark:before {
      transform: rotate(45deg); }
    body .XMark:after {
      transform: rotate(-45deg); }
  body .Exclamation {
    border-color: transparent transparent var(--ColorSet_ThemeColor_SolidYellow_20) transparent;
    border-style: solid;
    border-width: 0 calc(21px / 2) 21px calc(21px / 2);
    color: black;
    font-family: "Arial", sans-serif;
    font-size: 21px;
    height: 0;
    line-height: 21px;
    position: relative;
    width: 0; }
    body .Exclamation:after {
      content: '!';
      left: -3.05px;
      position: absolute;
      top: 2px; }
  body .InputTable tr td:first-child {
    color: var(--ColorSet_ThemeColor_Text_40);
    font-weight: 600;
    padding-right: 7px;
    padding-top: 6px;
    vertical-align: top; }
    body .InputTable tr td:first-child .ValidationContainer {
      margin-left: 5px; }
  body .InputTable tr td .VendorSelectorContainer {
    min-height: 72px; }
    body .InputTable tr td .VendorSelectorContainer .Spinner {
      margin-right: 5px; }
  body .InputTable tr td .EditableListContainer {
    max-width: 400px;
    width: 100%; }
  body .InputTable tr td .FlareSelect_Container {
    max-width: 405px; }
  body .InputTable tr td .SubmitWrapper {
    align-items: center;
    display: flex; }
    body .InputTable tr td .SubmitWrapper .ValidationContainer {
      margin-left: 10px; }
  body .InputTable tr td .PermissionNoticeContainer {
    padding: 0 0 10px 0; }
    body .InputTable tr td .PermissionNoticeContainer .SS_ExclamationMark {
      font-weight: normal;
      margin-right: 5px; }
  body .Index_LogTableContainer {
    padding: 7px 5px; }
    body .Index_LogTableContainer .FlareTableCell .SS_Button--Red, body .Index_LogTableContainer .FlareTableCell .SS_Button--Green {
      margin: 1px;
      width: 61px; }
  body .Configure_SettingsContainer {
    padding: 9px; }
    body .Configure_SettingsContainer .Options .CheckboxContainer {
      align-items: center;
      display: flex; }
      body .Configure_SettingsContainer .Options .CheckboxContainer .SS_CheckboxContainer {
        margin-right: 6px; }
    body .Configure_SettingsContainer .SearchDomains {
      margin-top: 15px; }
      body .Configure_SettingsContainer .SearchDomains .EditableListContainer {
        max-width: 400px;
        width: 100%; }
    body .Configure_SettingsContainer .SpoofedResponseValues label {
      display: inline-block;
      width: 75px; }
    body .Configure_SettingsContainer .RuleSources table thead tr th {
      text-align: left; }
    body .Configure_SettingsContainer .RuleSources table tbody tr td:first-child {
      width: 30px; }
      body .Configure_SettingsContainer .RuleSources table tbody tr td:first-child button {
        height: 25px;
        width: 25px; }
    body .Configure_SettingsContainer .RuleSources table tbody tr td:nth-child(2) a {
      color: var(--ColorSet_ThemeColor_Text_80);
      font-family: var(--FontSet-MonospaceFont);
      text-decoration-color: var(--ColorSet_ThemeColor_Text_0); }
      body .Configure_SettingsContainer .RuleSources table tbody tr td:nth-child(2) a:hover {
        text-decoration-color: var(--ColorSet_ThemeColor_Text_80); }
    body .Configure_SettingsContainer .RuleSources table tfoot tr td button {
      height: 25px;
      width: 25px; }
    body .Configure_SettingsContainer .CommitConfig .ResultContainer {
      border: 1px solid var(--ColorSet_ThemeColor_Border_20);
      display: inline-block;
      margin: 5px 0;
      padding: 3px; }
      body .Configure_SettingsContainer .CommitConfig .ResultContainer .Result {
        align-items: center;
        display: flex; }
        body .Configure_SettingsContainer .CommitConfig .ResultContainer .Result > div {
          margin-right: 5px; }
  body .Rules_NewWhitelistContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 9px; }
    body .Rules_NewWhitelistContainer .InputsContainer {
      flex-grow: 999; }
    body .Rules_NewWhitelistContainer .StatusContainer {
      align-self: flex-start;
      background-color: var(--ColorSet_ThemeColor_Background_50);
      border: 1px solid var(--ColorSet_ThemeColor_Border_80);
      border-radius: 4px;
      display: inline;
      margin: 7px 3px;
      overflow-y: scroll;
      width: 350px; }
      body .Rules_NewWhitelistContainer .StatusContainer h3 {
        padding: 0 5px; }
      body .Rules_NewWhitelistContainer .StatusContainer span {
        display: block;
        font-family: var(--FontSet-MonospaceFont);
        padding: 1px 3px; }
        body .Rules_NewWhitelistContainer .StatusContainer span:not(:first-child) {
          border-top: 1px solid var(--ColorSet_ThemeColor_Border_50); }
        body .Rules_NewWhitelistContainer .StatusContainer span:hover {
          background-color: var(--ColorSet_ThemeColor_Background_50_Hover); }
  body .Blacklist_NewRuleContainer {
    padding: 9px; }
    body .Blacklist_NewRuleContainer .InputTable tr td .SubmitWrapper {
      align-items: center;
      display: flex; }
      body .Blacklist_NewRuleContainer .InputTable tr td .SubmitWrapper .ValidationContainer {
        margin-left: 10px; }
  body .Blacklist_BlacklistTableContainer {
    padding: 9px; }
  body .Rules_WhitelistTableContainer {
    padding: 9px; }
    body .Rules_WhitelistTableContainer .HeaderContainer {
      justify-content: space-between; }
    body .Rules_WhitelistTableContainer .FlareTableCell {
      padding: 5px 7px !important; }
  body .GeneratingBlacklistNoticeContainer, body .GeneratingOUINoticeContainer {
    align-items: center;
    display: flex; }
    body .GeneratingBlacklistNoticeContainer > button, body .GeneratingOUINoticeContainer > button {
      margin-right: 10px; }
    body .GeneratingBlacklistNoticeContainer > *, body .GeneratingOUINoticeContainer > * {
      margin-right: 5px; }
  body .ProgressContainer {
    background-color: var(--ColorSet_ThemeColor_Background_50);
    border: 1px solid var(--ColorSet_ThemeColor_Border_80);
    height: 500px;
    margin-top: 10px;
    overflow-y: scroll; }
    body .ProgressContainer span {
      display: block;
      font-family: var(--FontSet-MonospaceFont);
      padding: 1px 3px; }
      body .ProgressContainer span:not(:first-child) {
        border-top: 1px solid var(--ColorSet_ThemeColor_Border_50); }
      body .ProgressContainer span:hover {
        background-color: var(--ColorSet_ThemeColor_Background_50_Hover); }
  body .Generate_BlacklistContainer {
    padding: 9px; }
    body .Generate_BlacklistContainer .GenStats tr td {
      vertical-align: top; }
      body .Generate_BlacklistContainer .GenStats tr td:first-child {
        color: var(--ColorSet_ThemeColor_Text_40);
        font-weight: 600;
        padding-right: 10px; }
      body .Generate_BlacklistContainer .GenStats tr td:nth-child(2) a {
        color: var(--ColorSet_ThemeColor_Text_80);
        display: block;
        font-family: var(--FontSet-MonospaceFont);
        text-decoration-color: var(--ColorSet_ThemeColor_Text_0); }
        body .Generate_BlacklistContainer .GenStats tr td:nth-child(2) a:hover {
          text-decoration-color: var(--ColorSet_ThemeColor_Text_80); }
  body .Generate_OUIListContainer {
    padding: 9px; }
  body .Users_LayoutContainer {
    display: flex;
    flex-wrap: wrap; }
    body .Users_LayoutContainer .Users_ListContainer {
      border-bottom: 1px solid var(--ColorSet_ThemeColor_Border_40);
      flex-grow: 10; }
      body .Users_LayoutContainer .Users_ListContainer .ContentWrapper {
        padding: 9px; }
        body .Users_LayoutContainer .Users_ListContainer .ContentWrapper .FlareTableCell {
          padding: 5px 7px !important; }
    body .Users_LayoutContainer .Users_InputContainer {
      border-bottom: 1px solid var(--ColorSet_ThemeColor_Border_40);
      border-left: 1px solid var(--ColorSet_ThemeColor_Border_80); }
      body .Users_LayoutContainer .Users_InputContainer .ContentWrapper {
        padding: 9px; }
        body .Users_LayoutContainer .Users_InputContainer .ContentWrapper .InputTable tr td {
          vertical-align: middle; }
        body .Users_LayoutContainer .Users_InputContainer .ContentWrapper .InputTable tr td:nth-child(2) input {
          width: 100%; }
        body .Users_LayoutContainer .Users_InputContainer .ContentWrapper .InputTable tr td:nth-child(2) .FlareSelect_Container {
          margin: 1px 0; }
        body .Users_LayoutContainer .Users_InputContainer .ContentWrapper .InputTable tr td:nth-child(2) .EditableListContainer {
          width: 250px; }
  body .NotAuthorizedContainer, body .AuthorizingContainer {
    padding: 5px 25px; }
    body .NotAuthorizedContainer .Authentication_LoginContainer table tr td:first-child, body .AuthorizingContainer .Authentication_LoginContainer table tr td:first-child {
      color: var(--ColorSet_ThemeColor_Text_40);
      font-weight: 600;
      padding-right: 10px; }
    body .NotAuthorizedContainer .Authentication_LoginContainer table tr td:nth-child(2) a, body .AuthorizingContainer .Authentication_LoginContainer table tr td:nth-child(2) a {
      color: var(--ColorSet_ThemeColor_Text_80);
      display: block;
      font-family: var(--FontSet-MonospaceFont);
      text-decoration-color: var(--ColorSet_ThemeColor_Text_0); }
      body .NotAuthorizedContainer .Authentication_LoginContainer table tr td:nth-child(2) a:hover, body .AuthorizingContainer .Authentication_LoginContainer table tr td:nth-child(2) a:hover {
        text-decoration-color: var(--ColorSet_ThemeColor_Text_80); }
    body .NotAuthorizedContainer .Authentication_LoginContainer .ErrorMessage, body .AuthorizingContainer .Authentication_LoginContainer .ErrorMessage {
      color: red;
      font-size: 15px;
      font-weight: 500; }
  body .NotFoundContainer {
    padding: 25px; }
