@import "EditableList.scss";
@import "Loader.scss";

#blazor-error-ui {
    display: none;
}

body {
    background-color: var(--ColorSet_ThemeColor_Background_20);
    color:            var(--ColorSet_ThemeColor_Text_80);
    font-size:        15px;
    margin:           0;

    * {
        font-family: var(--FontSet-SansSerifFont);
    }

    h3 {
        margin: 4px 0;
    }

    .Spacer {
        height: 20px;
    }

    .CenterRow {
        align-items: center;
        display:     flex;
        height:      21px;

        span {
            margin-left: 5px;
        }
    }

    .VerticallyCenteredContainer {
        align-items: center;
        display:     flex;
    }

    .ValidationResultContainer {
        align-items: center;
        display:     inline-flex;
        margin-left: 15px;
        min-height:  21px;

        .ValidationText {
            margin-left: 5px;
        }
    }

    // https://codepen.io/gliesche/pen/ZQyPeV
    .CheckMark {
        //box-shadow: 0 0 0 1px black;
        height:   21px;
        position: relative;
        width:    21px;

        &:after {
            border-bottom: 3px solid #78b13f;
            border-right:  3px solid #78b13f;
            content:       '';
            display:       inline-block;
            height:        15px;
            left:          27%;
            position:      absolute;
            transform:     rotate(45deg);
            width:         7px;
        }
    }

    .XMark {
        //box-shadow: 0 0 0 1px black;
        height:   21px;
        position: relative;
        width:    21px;

        &:before, &:after {
            background-color: #ff0000;
            content:          '';
            height:           21px;
            left:             43%;
            position:         absolute;
            top:              1%;
            width:            2.8px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    .Exclamation {
        border-color: transparent transparent var(--ColorSet_ThemeColor_SolidYellow_20) transparent;
        border-style: solid;
        border-width: 0 calc(21px / 2) 21px calc(21px / 2);
        color:        black;
        font-family:  "Arial", sans-serif;
        font-size:    21px;
        height:       0;
        line-height:  21px;
        position:     relative;
        width:        0;

        &:after {
            content:  '!';
            left:     -3.05px;
            position: absolute;
            top:      2px;
        }
    }

    .Index_LogTableContainer {
        padding: 5px;
    }

    .Configure_SettingsContainer {
        padding: 5px 7px;

        .Options {
            .CheckboxContainer {
                align-items: center;
                display:     flex;

                .SS_CheckboxContainer {
                    margin-right: 6px;
                }
            }
        }

        .SearchDomains {
            margin-top: 15px;

            .EditableListContainer {
                max-width: 400px;
                width:     100%;
            }
        }

        .SpoofedResponseValues {
            label {
                display: inline-block;
                width:   75px;
            }
        }

        .RuleSources {
            table {
                thead tr th {
                    text-align: left;
                }

                tbody tr td {
                    &:first-child {
                        width: 30px;

                        button {
                            height: 25px;
                            width:  25px;
                        }
                    }

                    &:nth-child(2) a {
                        color:                 var(--ColorSet_ThemeColor_Text_80);
                        font-family:           var(--FontSet-MonospaceFont);
                        text-decoration-color: var(--ColorSet_ThemeColor_Text_0);

                        &:hover {
                            text-decoration-color: var(--ColorSet_ThemeColor_Text_80);
                        }
                    }
                }

                tfoot tr td {
                    button {
                        height: 25px;
                        width:  25px;
                    }
                }
            }
        }

        .CommitConfig {
            button {

            }

            .ResultContainer {
                border:  1px solid var(--ColorSet_ThemeColor_Border_20);
                display: inline-block;
                margin:  5px 0;
                padding: 3px;

                .Result {
                    align-items: center;
                    display:     flex;

                    > div {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .RuleGen_NewWhitelistContainer {
        padding: 5px 7px;

        .Inputs {
            tr {
                td {
                    &:first-child {
                        color:          var(--ColorSet_ThemeColor_Text_40);
                        font-weight:    600;
                        padding-right:  10px;
                        padding-top:    6px;
                        vertical-align: top;
                    }

                    .VendorSelectorContainer {
                        min-height: 62px;
                    }

                    .ExpirationDateFuturesContainer {

                    }

                    .EditableListContainer {
                        max-width: 400px;
                        width:     100%;
                    }

                    .FlareSelect_Container {
                        max-width: 405px;
                    }

                    .SubmitWrapper {
                        align-items: center;
                        display:     flex;

                        .CenterRow {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .RuleGen_RuleGenContainer {
        padding: 5px 7px;

        .RuleStats {
            tr {
                td {
                    vertical-align: top;

                    a {
                        display:         inline-block;
                        text-decoration: none;
                    }

                    &:first-child {
                        color:         var(--ColorSet_ThemeColor_Text_40);
                        font-weight:   600;
                        padding-right: 10px;
                    }

                    &:nth-child(2) {
                        a {
                            color:                 var(--ColorSet_ThemeColor_Text_80);
                            display:               block;
                            font-family:           var(--FontSet-MonospaceFont);
                            text-decoration-color: var(--ColorSet_ThemeColor_Text_0);

                            &:hover {
                                text-decoration-color: var(--ColorSet_ThemeColor_Text_80);
                            }
                        }
                    }
                }
            }
        }

        .GeneratingRulesNoticeContainer {
            align-items: center;
            display:     flex;

            > * {
                margin-right: 5px;
            }
        }

        .ProgressContainer {
            background-color: var(--ColorSet_ThemeColor_Background_50);
            margin-top:       10px;

            span {
                border-bottom: 1px solid var(--ColorSet_ThemeColor_Border_50);
                border-left:   1px solid var(--ColorSet_ThemeColor_Border_50);
                border-right:  1px solid var(--ColorSet_ThemeColor_Border_50);
                display:       block;
                font-family:   var(--FontSet-MonospaceFont);
                padding:       1px 3px;

                &:first-child {
                    border-top: 1px solid var(--ColorSet_ThemeColor_Border_50);
                }

                &:hover {
                    background-color: var(--ColorSet_ThemeColor_Background_50_Hover);
                }
            }
        }
    }

    .Users_LayoutContainer {
        display:   flex;
        flex-wrap: wrap;

        h2 {
            margin-top: 0;
        }

        .Users_ListContainer {
            padding:   5px 14px 0 7px;
            flex-grow: 10;

            .FlareTableCell {
                padding: 5px 7px !important;
            }
        }

        .Users_InputContainer {
            padding:     5px 7px 0 14px;
            border-left: 1px solid var(--ColorSet_ThemeColor_Border_40);

            .Users_InputHeader {
                justify-content: space-between;

                .SS_Button--Red {
                    margin-right: 5px;
                }
            }

            .Inputs {
                tr {
                    td {
                        vertical-align: middle;
                    }

                    td:nth-child(1) {
                        color:         var(--ColorSet_ThemeColor_Text_40);
                        font-weight:   bold;
                        padding-right: 7px;
                    }

                    td:nth-child(2) {
                        input {
                            width: 300px;
                        }

                        .FlareSelect_Container {
                            margin: 1px 0;
                            //width: 499px;
                        }
                    }
                }
            }
        }
    }
}
