@import "EditableList.scss";

#blazor-error-ui {
    display: none;
}

body {
    background-color: var(--ColorSet_ThemeColor_Background_20);
    color:            var(--ColorSet_ThemeColor_Text_80);
    font-size:        13px;
    margin:           0;

    * {
        font-family: var(--FontSet-SansSerifFont);
    }


    h3 {
        margin: 4px 0;
    }

    // https://codepen.io/gliesche/pen/ZQyPeV
    .CheckMark {
        height:   12px;
        position: relative;
        width:    17px;

        &:after {
            border-bottom: 3px solid #78b13f;
            border-right:  3px solid #78b13f;
            bottom:        0.5px;
            content:       '';
            display:       inline-block;
            height:        12px;
            left:          3.5px;
            position:      absolute;
            transform:     rotate(45deg);
            width:         6px;
        }

    }

    .XMark {
        height:   12px;
        position: relative;
        width:    17px;

        &:before, &:after {
            background-color: #ff0000;
            content:          '';
            height:           16px;
            left:             4.5px;
            position:         absolute;
            top:              -2px;
            width:            3px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    .Index_LogTableContainer {
        padding: 5px;
    }

    .Configure_SettingsContainer {
        padding: 5px 7px;

        .Options {
            .CheckboxContainer {
                align-items: center;
                display:     flex;

                .SS_CheckboxContainer {
                    margin-right: 6px;
                }
            }
        }

        .SpoofedResponseValues {
            label {
                display: inline-block;
                width:   75px;
            }
        }

        .RuleSources {
            table {
                thead tr th {
                    text-align: left;
                }

                tbody tr td {
                    &:first-child {
                        width: 30px;

                        button {
                            height: 25px;
                            width:  25px;
                        }
                    }

                    &:nth-child(2) a {
                        color:                 var(--ColorSet_ThemeColor_Text_80);
                        font-family:           var(--FontSet-MonospaceFont);
                        text-decoration-color: var(--ColorSet_ThemeColor_Text_0);

                        &:hover {
                            text-decoration-color: var(--ColorSet_ThemeColor_Text_80);
                        }
                    }
                }

                tfoot tr td {
                    button {
                        height: 25px;
                        width:  25px;
                    }
                }
            }
        }

        .CommitConfig {
            button {

            }

            .ResultContainer {
                border:  1px solid var(--ColorSet_ThemeColor_Border_20);
                display: inline-block;
                margin:  5px 0;
                padding: 3px;

                .Result {
                    align-items: center;
                    display:     flex;

                    > div {
                        margin-right: 5px;
                    }
                }
            }
        }

        .Spacer {
            height: 25px;
        }
    }
    
    .RuleGen_NewWhitelistContainer {
        padding: 5px 7px;
        
        table {
            tr {
                td {
                    &:first-child {
                        
                    }
                }
            }
        }
    }

    .RuleGen_RuleGenContainer {
        padding: 5px 7px;

        .RuleStats {
            tr {
                td {
                    &:first-child {
                        color:          var(--ColorSet_ThemeColor_Text_40);
                        font-weight:    600;
                        padding-right:  10px;
                        vertical-align: top;

                        a {
                            display:         inline-block;
                            text-decoration: none;
                        }
                    }

                    &:nth-child(2) {
                        a {
                            color:                 var(--ColorSet_ThemeColor_Text_80);
                            display:               block;
                            font-family:           var(--FontSet-MonospaceFont);
                            text-decoration-color: var(--ColorSet_ThemeColor_Text_0);

                            &:hover {
                                text-decoration-color: var(--ColorSet_ThemeColor_Text_80);
                            }
                        }
                    }
                }
            }
        }

        .ProgressContainer {
            background-color: var(--ColorSet_ThemeColor_Background_50);
            margin-top:       10px;

            span {
                border-bottom: 1px solid var(--ColorSet_ThemeColor_Border_50);
                border-left:   1px solid var(--ColorSet_ThemeColor_Border_50);
                border-right:  1px solid var(--ColorSet_ThemeColor_Border_50);
                display:       block;
                font-family:   var(--FontSet-MonospaceFont);
                padding:       1px 3px;

                &:first-child {
                    border-top: 1px solid var(--ColorSet_ThemeColor_Border_50);
                }

                &:hover {
                    background-color: var(--ColorSet_ThemeColor_Background_50_Hover);
                }
            }
        }
    }
}
